#dessert-section {
    margin-top: 0;
    margin-bottom: 2rem;
}

.list {
    display: grid;
}

@media (min-width: 768px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-300)
    }
}