:root {
  /* Color Pallette */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  /* Spacing */
  --space-50: .25rem; /* 4px */
  --space-100: .5rem; /* 8px */
  --space-150: .75rem; /* 12px */
  --space-200: 1rem; /* 16px */
  --space-300: 1.5rem; /* 24px */
  --space-400: 2rem; /* 32px */
  --space-500: 2.5rem; /* 40px */
  --space-1100: 5.5rem; /* 88px */
}



#root {
  background-color: var(--rose-50);
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/assets/fonts/static/RedHatText-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/assets/fonts/static/RedHatText-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/assets/fonts/static/RedHatText-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  font-family: 'Red Hat Text';
}

main{
  margin: var(--space-300);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

ul {
  padding: 0;
}

.text-1-bold {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
}

.text-2-bold {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
}

.text-3-semibold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.text-4-regular {
  font-size: .875rem;
  font-weight: 400;
  line-height: 150%;
}

.text-4-semibold {
  font-size: .875rem;
  font-weight: 600;
  line-height: 150%;
}

@media (min-width: 768px) {
  main {
    margin: var(--space-500);
  }
}

@media (min-width: 1100px) {
  main {
    display: flex;
    gap: var(--space-400);
  }
}